<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<integer>0</integer>
	<key>darkDict</key>
	<dict>
		<key>DarkBlendmaterials</key>
		<string>A13.jpg</string>
		<key>DarkBlendstyle</key>
		<string>PSMultiply100.png</string>
		<key>DarkBlendalpha</key>
		<string>1.0</string>
		<key>DarkRealTimeBlendState</key>
		<integer>0</integer>
		<key>DarkAfter</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
