<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>ID</key>
			<integer>0</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A13.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>ID</key>
			<integer>553</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A16.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.6</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>0.8</string>
					<key>MaskPath</key>
					<array>
						<string>553.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>477</integer>

			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A12.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>477.png</string>
					</array>
				</dict>
			</array>
		</dict>

		<dict>
			<key>ID</key>
			<integer>161</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A13.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>161.png</string>
					</array>
				</dict>
			</array>

		</dict>
		<dict>
			<key>ID</key>
			<integer>118</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A11.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>118.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>583</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A12.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>0.8</string>
					<key>MaskPath</key>
					<array>
						<string>583.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>503</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A12.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>503.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>555</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A13.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>555.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>584</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A13.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>584.png</string>
					</array>
				</dict>
			</array>
		</dict>

		<dict>
			<key>ID</key>
			<integer>124</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A15.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>124.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>476</integer>

			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A17.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.7</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>476.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>175</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A11.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>ColorFilter</key>
			<array>
				<dict>
					<key>FilterID</key>
					<integer>175</integer>
					<key>alpha</key>
					<string>1.0</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>559</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A17.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>559.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>359</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A13.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>0.8</string>
					<key>MaskPath</key>
					<array>
						<string>359.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>516</string>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A02.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>516.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>538</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A17.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.7</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>448.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>120</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A12.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>ColorFilter</key>
			<array>
				<dict>
					<key>FilterID</key>
					<integer>120</integer>
					<key>alpha</key>
					<string>1.0</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>181</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A13.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>181.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>555</integer>

			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A13.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>555.png</string>
					</array>
				</dict>
			</array>

		</dict>
		<dict>

			<key>ID</key>
			<integer>585</integer>

			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A17.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>585.png</string>
					</array>
				</dict>
			</array>

		</dict>
		<dict>

			<key>ID</key>
			<integer>586</integer>

			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A17.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.7</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>586.png</string>
					</array>
				</dict>
			</array>

		</dict>
		<dict>
			<key>ID</key>
			<integer>646</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A16.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.7</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>0.8</string>
					<key>MaskPath</key>
					<array>
						<string>646.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>

			<key>ID</key>
			<integer>217</integer>

			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A13.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>217.png</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>582</integer>
			<key>darkDict</key>
			<dict>
				<key>DarkBlendmaterials</key>
				<string>A02.jpg</string>
				<key>DarkBlendstyle</key>
				<string>PSMultiply100.png</string>
				<key>DarkBlendalpha</key>
				<string>0.8</string>
				<key>DarkBlendstate</key>
				<integer>0</integer>
				<key>DarkAfter</key>
				<integer>0</integer>
			</dict>
			<key>onlineDict</key>
			<array>
				<dict>
					<key>BlendStyle</key>
					<integer>1</integer>
					<key>ForceOpenBlur</key>
					<integer>0</integer>
					<key>VSPath</key>
					<string>Shader_Vertex.mtsl2</string>
					<key>FSPath</key>
					<string>Shader_PSBlendStyle1.mtsl2</string>
					<key>Blendalpha</key>
					<string>1.0</string>
					<key>MaskPath</key>
					<array>
						<string>582.png</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>

</plist>
