<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>0</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.4</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>118</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A11.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.7</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>118.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>116</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>116.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>363</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A17.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle3.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>363.2.png</string>
					<string>363.2sc.jpg</string>
					<string>PSScreen65.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>477</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A11.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>477.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>553</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A16.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.6</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>553.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>124</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>124.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>122</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>633</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.7</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>633.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>357</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>357.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>175</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A11.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>538</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A11.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>476</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A17.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>476.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>480</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>480.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>427</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A19.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>427.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>505</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>505.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>132</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>132.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>361</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A16.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle3.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>361.png</string>
					<string>361sc.jpg</string>
					<string>PSScreen.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>359</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A02.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>359.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>113</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A17.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>471</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>471.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>555</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>555.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>301</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>301.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>482</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A16.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>482.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>300</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A17.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>300.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>437</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>437.png</string>
					<string>437sc.jpg</string>
					<string>PSScreen50.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>289</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A17.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>289.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>556</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>556.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>502</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A14.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>502.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>392</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A17.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>392.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>431</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A17.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>1</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>431.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>479</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle3.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>479.1.png</string>
					<string>479.1sc.jpg</string>
					<string>PSScreen100.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>362</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>362.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>576</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>576.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>586</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
		<key>onlineDict</key>
		<array>
			<dict>
				<key>BlendStyle</key>
				<integer>1</integer>
				<key>VSPath</key>
				<string>Shader_Vertex.mtsl2</string>
				<key>FSPath</key>
				<string>Shader_PSBlendStyle1.mtsl2</string>
				<key>Blendalpha</key>
				<string>0.7</string>
				<key>MaskPath</key>
				<array>
					<string>586.png</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
